---
import PostsRow from "../../components/PostsRow.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../BaseLayout.astro";
import Search from "../../components/Search.astro";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Search />
  <div class="search-divider"></div>
  <PostsRow posts={posts} />
</BaseLayout>

<style>
  .search-divider {
    margin-bottom: 20px;
  }
</style>
