---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Search from "../../components/Search.astro";
import PostsRow from "../../components/PostsRow.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Search />
      <div class="search-divider"></div>
      <PostsRow posts={posts} />
      <Footer />
    </main>
  </body>
</html>

<style>
  .search-divider {
    margin-bottom: 20px;
  }
</style>
