---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostsRow from "../components/PostsRow.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const latestPosts = (await getCollection("posts"))
  .filter((post) => !post.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>
        Currently: Staff software engineer at Zuplo. Hosting the Open Source
        Ready podcast. Maintaining various open source projects including
        spf13/cobra.
      </p>
      <p>
        Previously: VP of Infrastructure and AI Engineering at the Linux
        Foundation, head of infrastructure at OpenSauced (acquired by the Linux
        Foundation), software engineer at AWS, VMWare, Pivotal, and Compassion
        International.
      </p>
      <div class="title-posts">
        <h3>
          <a href="/archive">latest posts<a></a></a>
        </h3>

        <PostsRow posts={latestPosts} />
      </div>
      <Footer />
    </main>
  </body>
</html>

<style>
  .title-posts {
    margin-top: 1.5em;
  }
</style>
