---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <span class="text"><slot /></span>
  <span class="bold-reserve" aria-hidden="true"><slot /></span>
</a>
<style>
  a {
    display: inline-grid;
    text-decoration: none;
  }
  .text,
  .bold-reserve {
    grid-area: 1 / 1;
  }
  .bold-reserve {
    font-weight: bolder;
    visibility: hidden;
  }
  a.active .text {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
