---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div class="posts">
  {
    posts.map((post) => (
      <div class="post-row">
        <i class="fas fa-link" />
        <span class="date">
          {String(post.data.pubDate.getMonth() + 1).padStart(2, "0")}.
          {String(post.data.pubDate.getDate()).padStart(2, "0")}.
          {post.data.pubDate.getFullYear()}
        </span>
        <div class="title-container">
          {post.data.isPopular && <i class="fas fa-star" />}
          <a href={`/archive/${post.id}/`}>{post.data.title}</a>
        </div>
      </div>
    ))
  }
</div>

<style>
  .post-row {
    display: flex;
    align-items: center;
    padding: 0.3em 0;

    /*border-bottom: 1px solid var(--border);*/
    gap: 1em; /* Add space between title and date */

    flex: 1; /* Allow it to grow and push date to the right */
    min-width: 0; /* Allow text to shrink/wrap properly */
  }

  .date {
    flex-shrink: 0;
    color: var(--text-secondary);
    font-family: monospace;
    font-size: 0.9em;
    white-space: nowrap;
  }

  .fa-star {
    flex-shrink: 0;
    color: #eab308;
  }
</style>
